.games-title {
  padding: 20px;
}

.games-title h1 {
  width: auto;
  color: var(--main-color);
  background-color: var(--background-color);
  padding: 20px;
  font-weight: 800;
}

.games {
  padding: 40px 0;
}

.simple-card {
  color: var(--button-color);
  background-color: var(--background-color);
  padding: 10px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 10px;
}
