{% extends 'base.html' %} {% block title %}Game - Simple{% endblock %} {% block content %} {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/game.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/tutorial.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/tooltip.css' %}" />

<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/message-animation.css' %}"
/>

<script src="{% static 'scripts/formatTimer.js' %}"></script>
<script src="{% static 'scripts/game/playMessageAnimation.js' %}"></script>
<script src="{% static 'scripts/game/onLoad.js' %}"></script>
<!-- <script src="{% static 'scripts/game/shop.js' %}"></script> -->
<script src="{% static 'scripts/game/tutorial.js' %}"></script>
<script src="{% static 'scripts/game/updateTimers.js' %}"></script>

<span id="game-id" style="display: none">{{ game.id }}</span>
<span id="game-timer-hidden" style="display: none"
  >{{ game.time_elapsed }}</span
>
<span class="simple-paragraph" id="game-timer"></span>

{% if first_game and game.time_elapsed < 15 %}
<div class="tutorial" id="tutorial">
  <button id="close-tutorial">X</button>

  <div class="tutorial-intro">
    <h3>Welcome to Simple</h3>
    <p>An idle game about simple math</p>
    <h6>Here's a quick tutorial:</h6>
  </div>

  <div class="tutorial-section">
    <div class="tutorial-text">
      <p>
        <strong
          >The goal of the game is to get the highest Score possible.</strong
        >
        You can increase your Score in two ways: by letting 15 seconds pass or
        by clicking the 'click me' button. This will increase your score by your
        Increment.
      </p>
    </div>
    <div class="tutorial-image-container">
      <img
        class="tutorial-image"
        src="{% static 'images/score-tutorial.png' %}"
        alt="Visual explanation of how purchasing numbers works in this game."
        style="width: 60%"
      />
    </div>
  </div>

  <div class="tutorial-section">
    <div class="tutorial-text">
      <p>
        To increase your Increment, you can unlock new Numbers.
        <strong
          >Your increment is the sum total of all your numbers and their
          quantities, </strong
        >as shown below. In this instance, there is 1 four, 2 twos, and 1 one,
        which adds up to an Increment of 11. Unlocking a number costs 100x its
        size, while increasing its quantity only costs 10x.
      </p>
    </div>

    <div class="tutorial-image-container">
      <img
        class="tutorial-image"
        src="{% static 'images/numbers-tutorial.png' %}"
        alt="Visual explanation of how purchasing numbers works in this game."
      />
    </div>
  </div>

  <div class="tutorial-section">
    <div class="tutorial-text">
      <p>
        Lastly, you can make it easier to get points by buying new +/- buttons
        or decreasing the timer!
      </p>
    </div>
    <div class="tutorial-image-container">
      <img
        class="tutorial-image"
        src="{% static 'images/purchase-buttons-tutorial.png' %}"
        alt="Visual explanation of how purchasing buttons works."
      />
    </div>
  </div>

  <div class="tutorial-closing">
    <h6>And that's it. Good luck!</h6>
  </div>
</div>
{% endif %}

<img
  src="{% static 'images/shop-icon.svg' %}"
  alt="Shop icon"
  class="shop-icon"
  id="shop-icon"
/>

<div id="simple-game" class="simple-game">
  <div
    class="simple-game-score d-flex flex-column align-items-center"
    id="game-score"
  >
    <div class="d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-break simple-header user-score">
        <span
          class="tooltip-trigger"
          data-tooltip="This number is your Score, which can be used to buy new numbers, buttons, or time."
          id="user-score"
        ></span>
      </h1>

      <h5 class="simple-paragraph">
        <div
          class="d-flex flex-row gap-1 tooltip-trigger"
          data-tooltip="This number is your Increment, which is the sum total of all of your purchased numbers."
        >
          <span id="user-increment">+{{ score.increment }} / </span>
          <span id="time-increment">{{ score.time_increment }}</span>
          <p>seconds</p>
        </div>
      </h5>

      <h2><span id="increment-countdown"></span></h2>

      <div
        style="height: 10px; width: 40vw"
        class="position-relative"
        id="timer"
      >
        <div
          style="border: 1px solid var(--main-color); width: 40vw; height: 10px"
          class="position-absolute"
          id="timer-outline"
        ></div>
        <div
          style="
            height: 10px;
            width: 0px;
            transition: 0.2s linear;
            background-color: var(--main-color);
          "
          class="position-absolute"
          id="timer-bar"
        ></div>
      </div>

      <button
        class="simple-button"
        id="main-button"
        style="width: 40vw; padding: 10px; margin: 10px"
      >
        Click Me
      </button>

      <div class="d-flex flex-column flex-lg-row flex-md-row flex-sm-row gap-2">
        {% if next_button != 1000 %}
        <button
          id="purchase-next-button"
          class="btn game-button tooltip-trigger"
          data-tooltip="Purchasing this will add a new +/- button to each of your numbers, letting you buy more, faster."
        >
          Add +/- {{ next_button }} (Cost: {{ next_button_cost }})
        </button>
        {% endif %} 

        {% if time_increment > 5 %}
        <button
          id="purchase-next-second"
          class="btn game-button tooltip-trigger"
          data-tooltip="Subtract a second from your timer."
        >
          -1s (Cost:<span id="next-second-cost"> {{ next_second_cost }}</span>)
        </button>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="game-store" id="game-store">
    <ul class="simple-game-numbers">
      <div
        class="unlock-number d-flex flex-column justify-content-center align-items-center p-5 g-5"
      >
        <!-- <h1 class="simple-header" style="font-size: 18px; font-weight: 600">
          Next Number:
        </h1> -->
        <h2 class="simple-paragraph d-flex flex-column align-items-center">
          <span id="next_number" style="font-size: 72px; font-weight: 600" class="text-center w-100 text-break"
            >{{ form.next_integer }}</span
          >
          <span id="next_number_cost" style="font-size: 16px; font-weight: 300" class="text-center w-100 text-break"
            >Costs: {{ form.next_integer_cost }}</span
          >
        </h2>

        <button
          id="purchase-next-number"
          class="purchase-next-number btn game-button tooltip-trigger"
          data-tooltip="Purchase this number to unlock it and add the number to your increment. Numbers cost 100x their size to unlock."
        >
          Unlock
        </button>
      </div>

      <div
        class="number-list d-flex flex-row flex-wrap gap-2 p-0"
        id="number-list"
      >
        {% for number in numbers %}
        <li
          class="d-flex flex-column m-auto justify-content-center align-items-center mb-5"
        >
          <div
            class="d-flex flex-column justify-content-center align-items-center"
          >
            <h5 class="text-break">{{ number.integer}}</h5>
            <p class="text-break">{{ number.quantity }}</p>
          </div>

          <div class="d-flex flex-row gap-2">
            <div class="d-flex flex-row flex-wrap gap-2">
              <div class="d-flex flex-row flex-wrap">
                <div
                  class="btn-group tooltip-trigger"
                  data-tooltip="Increase/Decrease the quantity of this number. Costs 10x the number size!"
                >
                  {% for amount in buttons %}
                  <button
                    data-action="increase"
                    data-id="{{ number.id }}"
                    data-amount="{{ amount }}"
                    class="update-button btn quantity-button"
                  >
                    +{{ amount }}
                  </button>
                  {% endfor %} {% for amount in buttons %}
                  <button
                    data-action="decrease"
                    data-id="{{ number.id }}"
                    data-amount="{{ amount }}"
                    class="update-button btn quantity-button"
                  >
                    -{{ amount }}
                  </button>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </div>
    </ul>
  </div>
</div>

<script>
  const gameId = document.getElementById("game-id").textContent;
  const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
  let game = document.getElementById("simple-game");
  let time = document.getElementById("time-increment").textContent;
  let updateInterval = time * 1000; // users time increment in ms
  let lastScoreUpdate = Date.now();

  let scoreInterval = null;
  function setScoreInterval() {
    if (scoreInterval) clearInterval(scoreInterval);
    scoreInterval = setInterval(updateScore, updateInterval);
  }

  // Event listener to close tutorial
  let closeButton = document.getElementById("close-tutorial");
  closeTutorial(closeButton);

  // Load the tutorial and tooltips unless tooltips is false (set in settings)
  loadTooltipsAndTutorial();

  // Click the 'click me' button and increase score
  const clickButton = document.getElementById("main-button");
  if (clickButton) {
    clickButton.addEventListener("click", async () => {
      try {
        const response = await fetch('{% url "button_click" game.id %}', {
          method: "POST",
          headers: {
            "X-CSRFToken": csrfToken,
            "Content-Type": "application/json",
          },
        });

        const data = await response.json();
        if (data.success) {
          document.getElementById("user-score").textContent = data.new_score;
          playMessageAnimation(
            data.success,
            document.getElementById("user-score"),
            data.message
          );
        }
      } catch (error) {
        console.error(error);
      }
    });
  }

  // Purchase Time
  const purchaseSecond = document.getElementById("purchase-next-second");
  if (purchaseSecond) {
    purchaseSecond.addEventListener("click", async (e) => {
      try {
        const response = await fetch("{% url 'purchase_time' game.id %}", {
          method: "POST",
          headers: {
            "X-CSRFToken": csrfToken,
            "Content-Type": "application/json",
          },
        });

        const data = await response.json();

        if (data.success) {
          document.getElementById("user-score").textContent = data.new_score;
          
          console.log(data);
          if (data.new_timer === "5") {
            document.getElementById('purchase-next-second').style.display = 'none';
          } else {
            document.getElementById("time-increment").textContent = data.new_timer;
            document.getElementById("next-second-cost").textContent = data.new_timer_cost;
          }
          updateInterval = parseInt(data.new_timer) * 1000;
          setScoreInterval();
          playMessageAnimation(
            data.success,
            document.getElementById("purchase-next-second"),
            data.message
          );
        } else {
          playMessageAnimation(
            data.success,
            document.getElementById("purchase-next-second"),
            data.message
          );
        }
      } catch (err) {
        playMessageAnimation(
          false,
          document.getElementById("purchase-next-second"),
          err
        );
      }
    });
  }

  // Purchase Button: Display and show purchased buttons (increments of 1^10x)
  const purchasebuttons = document.getElementById("purchase-next-button");
  if (purchasebuttons) {
    purchasebuttons.addEventListener("click", async (e) => {
      try {
        const response = await fetch('{% url "purchase_button" game.id %}', {
          method: "POST",
          headers: {
            "X-CSRFToken": csrfToken,
            "Content-Type": "application/json",
          },
        });

        const data = await response.json();

        if (data.success) {
          location.reload();
          playMessageAnimation(
            true,
            document.getElementById("purchase-next-button"),
            data.message
          );
        } else {
          if (data.message === "No more buttons!") {
            document.getElementById("purchase-next-button").style.display =
              "none";
          }

          playMessageAnimation(
            false,
            document.getElementById("purchase-next-button"),
            data.message
          );
        }
      } catch (err) {
        console.error(err);
      }
    });
  }

  // Purchase quantity: Add event listeners to all the numbers and their buttons
  document
    .getElementById("number-list")
    .addEventListener("click", async (e) => {
      const button = e.target.closest(".update-button");
      if (!button) return;

      const numberId = button.dataset.id;
      const action = button.dataset.action;
      const amount = button.dataset.amount;
      const url = `/game/${gameId}/numbers/${numberId}/${action}/${amount}/`;

      try {
        const response = await fetch(url, {
          method: "POST",
          headers: {
            "X-CSRFToken": csrfToken,
            "Content-Type": "application/json",
          },
        });

        const data = await response.json();

        if (data.success) {
          document.getElementById("user-score").textContent = data.new_score;
          document.getElementById("user-increment").textContent =
            "+" + data.new_increment + " /";
          button.closest("li").querySelector("p").textContent =
            data.new_quantity;
          playMessageAnimation(data.success, e.target, data.message);
        } else {
          playMessageAnimation(data.success, e.target, data.message);
        }
      } catch (err) {
        console.error("Error", err);
      }
    });

  // Purchase Number: Purchase the next number available
  const buttonAmounts = JSON.parse("{{ buttons|safe|escapejs }}");
  document
    .getElementById("purchase-next-number")
    .addEventListener("click", async (e) => {
      try {
        const response = await fetch("{% url 'purchase_number' game.id %}", {
          method: "POST",
          headers: {
            "X-CSRFToken": csrfToken,
            "Content-Type": "application/json",
          },
        });

        const data = await response.json();

        if (data.success) {
          playMessageAnimation(data.success, e.target, data.message);
          if (data.new_score === "Infinity") return;

          document.getElementById("user-score").textContent = data.new_score;
          document.getElementById("user-increment").textContent =
            "+" + data.new_increment + " / ";
          document.getElementById("next_number").textContent = data.next_number;
          document.getElementById("next_number_cost").textContent =
            "Costs: " + data.next_number_cost;

          // Dynamic +/- buttons
          const increaseButtons = buttonAmounts
            .map(
              (amount) => `
            <button
              data-action="increase"
              data-id="${data.number_id}"
              data-amount="${amount}"
              class="update-button btn quantity-button"
            >
              +${amount}
            </button>
          `
            )
            .join("");

          const decreaseButtons = buttonAmounts
            .map(
              (amount) => `
            <button
              data-action="decrease"
              data-id="${data.number_id}"
              data-amount="${amount}"
              class="update-button btn quantity-button"
            >
              -${amount}
            </button>
          `
            )
            .join("");

          const newHTML = `
          <li class="d-flex flex-column m-auto justify-content-center align-items-center mb-5">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <h5 class="text-break">${data.new_number}</h5>
              <p class="text-break">1</p>
            </div>
            
            <div class="d-flex flex-row gap-2">
              <div class="d-flex flex-row flex-wrap">
                <div class="btn-group tooltip-trigger">
                  ${increaseButtons}
                  ${decreaseButtons}
                </div>
              </div>
            </div>
          </li>
        `;

          document
            .getElementById("number-list")
            .insertAdjacentHTML("afterbegin", newHTML);
        } else {
          playMessageAnimation(data.success, e.target, data.message);
        }
      } catch (error) {
        console.error(error);
        playMessageAnimation(false, e.target, "Something went wrong.");
      }
    });

  function updateScore() {
    fetch("{% url 'predicted_score' game.id %}")
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("user-score").textContent = data.score;
        document.getElementById(
          "user-increment"
        ).textContent = `+${data.increment} / `;
        lastScoreUpdate = Date.now();
        playMessageAnimation(
          true,
          document.getElementById("user-score"),
          "+" + data.increment
        );
      });
  }

  updateScore();
  updateTimer();
  setScoreInterval(); // Update score once every time increment
  setInterval(updateTimerAnimation, 200); // Update the timer animation every .2s
  setInterval(updateTimer, 1000); // Update timer every second
</script>

{% endblock %}
