{% extends 'base.html' %} {% block title %}Simple - An Idle Game{% endblock %}
{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">

<div class="landing-page">
  <div class="landing-section section-one">
    <h1 class="simple-logo landing-header">(SIMPLE)</h1>
    <h3 class="simple-header landing-subtitle">
      a simple idle game about simple math
    </h3>
  </div>

  <div class="landing-section">
    <h4 class="simple-paragraph">Start Counting</h4>

    <form method="get" action="{% url 'games' %}">
      <button class="btn simple-button" type="submit">New Game</button>
    </form>
  </div>
</div>

{% endblock %}
