{% extends 'base.html' %} {% block title %}Leaderboard - Simple{% endblock %} {% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<script src="{% static 'scripts/formatTimer.js' %}"></script>

<h1 class="simple-title">Leaderboard</h1>

<table class="table table-striped text-center invert">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Username</th>
      <th scope="col">Score</th>
      <th scope="col">Time Elapsed (s)</th>
    </tr>
  </thead>
  <tbody>
    {% for score in scores %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ score.game.user.username }}</td>
      <td class="text-break">{{ score.score_value }}</td>
      <td class="time-elapsed">{{ score.game.time_elapsed }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  const renderedTimes = document.getElementsByClassName("time-elapsed");

  function renderTimes() {
    for (i = 0; i < renderedTimes.length; i++) {
      renderedTimes[i].innerHTML = formatTimer(
        parseInt(renderedTimes[i].innerHTML)
      );
    }
  }

  renderTimes();
</script>

{% endblock %}
