{% extends 'base.html' %} {% block title %}Settings - Simple{% endblock %} {% block content %}

<style>
  .settings-section {
    border: 1px solid var(--main-color);
    border-radius: 15px;
    padding: 20px;
  }
</style>

<h1 class="simple-title">Settings</h1>

<div class="settings-section d-flex flex-column gap-4 w-75 h-75">
  <div
    class="d-flex flex-column justify-content-center align-items-center gap-2"
  >
    <h4 class="simple-paragraph">Display Settings</h4>
    <div>
      <label for="dark-mode" class="simple-paragraph">Dark Mode</label>
      <input type="checkbox" id="dark-mode" />
    </div>
  </div>
  
  <div
    class="d-flex flex-column justify-content-center align-items-center gap-2"
  >
    <h4 class="simple-paragraph">Disable Tooltips</h4>

    <div>
      <label class="simple-paragraph">Check this to disable tooltips</label>
      <input type="checkbox" id="tooltip-toggle" />
    </div>

  </div>


  <div
    class="d-flex flex-column h-25 justify-content-center align-items-center gap-2"
  >
    <h4 class="m-0 simple-paragraph">Deactivate Account:</h4>

    <form
      id="deactivation-form"
      method="post"
      action="{% url 'deactivate_account' %}"
    >
      {% csrf_token %}
      <button
        id="deactivate-submit"
        class="btn game-button"
        style="
          background-color: var(--background-color);
          border: 1px solid red;
          border-radius: 10px;
          color: red;
        "
      >
        Deactivate Account
      </button>
    </form>
  </div>
</div>

<script>
  // Toggle Tooltips
  const tooltipToggle = document.getElementById('tooltip-toggle');
  console.log(localStorage.getItem("tooltips"))
  tooltipToggle.checked = localStorage.getItem("tooltips") !== "true";

  // True = show tooltips, false = don't show tooltip
  tooltipToggle.addEventListener('change', () => {
    if (tooltipToggle.checked) {
      localStorage.setItem("tooltips", false);
    } else {
      localStorage.setItem("tooltips", true);
    }
  })

  // Dark Mode Toggle
  const toggleDarkMode = document.getElementById("dark-mode");

  if (localStorage.getItem("dark-mode") === "enabled") {
    document.getElementById("root").classList.add("dark-mode");
    toggleDarkMode.checked = true;
  } else if (localStorage.getItem("dark-mode") === "disabled") {
    document.getElementById("root").classList.remove("dark-mode");
    toggleDarkMode.checked = false;
  }

  toggleDarkMode.addEventListener("change", () => {
    if (toggleDarkMode.checked) {
      document.getElementById("root").classList.add("dark-mode");
      localStorage.setItem("dark-mode", "enabled");
    } else {
      document.getElementById("root").classList.remove("dark-mode");
      localStorage.setItem("dark-mode", "disabled");
    }
  });


  // Deactivation Submission
  const deactivation = document.getElementById("deactivate-submit");
  const form = document.getElementById("deactivation-form");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    if (confirm("Are you sure you want to deactivate your account?")) {
      form.submit();
    } else {
      return;
    }
  });


</script>

{% endblock %}
