<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Simple{% endblock %}</title>
  </head>

  <body>
    <nav>
      <h1>Simple - Idle Game</h1>
      
      {% if user.is_authenticated %}
      <p>{{ user }}</p>
      <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
      {% endif %}
    </nav>

    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
