body,
html {
  color: var(--font-color);
  height: 100%;
  background: var(--background-color);
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 70px calc(100vh - 70px);
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--gray-color);
}

nav {
  grid-row: 1;
}

.offcanvas {
  background-color: var(--background-color);
  color: var(--font-color);
}

.invert {
  filter: var(--invert);
}

.nav-link {
  color: var(--button-color);
  font-size: 28px;
  font-weight: 200;
}

.navbar-brand {
  font-family: var(--article-font);
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

main {
  z-index: 5;
  min-height: calc(100vh - 70px);
  grid-row: 2;
}

.simple-logo {
  color: var(--button-color);
  font-size: 32px;
  font-family: var(--main-font);

  width: 50px;
  height: 50px;

  font-weight: 400;
  padding: 5px;
  font-style: normal;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.simple-icon {
  width: 50px;
  height: 50px;
}

/* .simple-logo:hover {
        color: var(--background-color);
        background-color: var(--main-color);
        border-radius: 5px;
      } */

.simple-title {
  color: var(--button-color);
  font-family: var(--main-font);
  color: var(--highlight-color);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.simple-header {
  color: var(--button-color);
  font-family: var(--article-font);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.simple-paragraph {
  color: var(--button-color);
  font-family: var(--article-font);
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  /* line-height: 1; */
}

.simple-button {
  font-family: var(--article-font);
  font-weight: 400;
  color: var(--background-color);
  background-color: var(--highlight-color);
}

.simple-button {
  border: none;
  outline: none;
  background-color: var(--main-color);
  border-radius: .375rem;
  transition: .1s ease-in-out;
}

.simple-button:hover {
  color: var(--background-color);
  background-color: var(--game-button-color);
}

.simple-button:active {
  background-color: var(--game-button-color);
}

.game-button {
  color: var(--background-color);
  background-color: var(--highlight-color);
}
.game-button:hover {
  color: var(--background-color);
  background-color: var(--game-button-color);
}



.blank-button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 72px;
}

.venmo-section {
  width: 100%;
  /* background-color: var(--main-color); */
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 10px;
}

.venmo-link {
  text-decoration: none;
  color: var(--main-color);
  font-family: var(--article-font);
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    /* border-radius: 0; */
  }
  100% {
    transform: translateY(-250px) rotate(360deg);
    opacity: 0;
    /* border-radius: 50%; */
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  /* opacity: .4; */
  /* background: var(--background-color); */
  overflow: hidden;
}

.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: var(--main-color-opaque);
  border-radius: 50%;
}

.background li:nth-child(0) {
  left: 80%;
  width: 280px;
  height: 280px;
  bottom: -280px;
  animation: animate 12.5s linear infinite;
  animation-delay: -5s;
}

.background li:nth-child(1) {
  left: 50%;
  width: 161px;
  height: 161px;
  bottom: -161px;
  animation: animate 10s linear infinite;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 70%;
  width: 197px;
  height: 197px;
  bottom: -197px;
  animation: animate 16s linear infinite;
  animation-delay: -5s;
}
.background li:nth-child(3) {
  left: 24%;
  width: 151px;
  height: 151px;
  bottom: -151px;
  animation: animate 17.5s linear infinite;
  animation-delay: -2;
}
.background li:nth-child(4) {
  left: 1%;
  width: 193px;
  height: 193px;
  bottom: -193px;
  animation: animate 9s linear infinite;
  animation-delay: -2s;
}
.background li:nth-child(5) {
  left: 33%;
  width: 151px;
  height: 151px;
  bottom: -151px;
  animation: animate 17.5s linear infinite;
  animation-delay: -8s;
}

.background li:nth-child(6) {
  left: 95%;
  width: 151px;
  height: 151px;
  bottom: -151px;
  animation: animate 11.5s linear infinite;
  animation-delay: 3s;
}
.background li:nth-child(7) {
  left: 15%;
  width: 100px;
  height: 100px;
  bottom: -151px;
  animation: animate 20s linear infinite;
  animation-delay: 0s;
}
.background li:nth-child(8) {
  left: 78%;
  width: 151px;
  height: 151px;
  bottom: -151px;
  animation: animate 16s linear infinite;
  animation-delay: 1s;
}
.background li:nth-child(9) {
  left: 88%;
  width: 85px;
  height: 85px;
  bottom: -151px;
  animation: animate 12s linear infinite;
  animation-delay: 6s;
}

.background li:nth-child(9) {
  left: 60%;
  width: 151px;
  height: 151px;
  bottom: -151px;
  animation: animate 15s linear infinite;
  animation-delay: 0s;
}
